<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.blog.u.users.mapper.UsersMapper">

	<resultMap id="usersMap" type="com.tao.blog.u.users.model.Users">
		<id property="userId" column="userid" jdbcType="INTEGER" />
		<result property="loginIp" column="loginip" jdbcType="VARCHAR" />
		<result property="passwd" column="passwd" jdbcType="VARCHAR" />
		<result property="userName" column="username" jdbcType="VARCHAR" />
		<result property="email" column="centent" jdbcType="VARCHAR" />
		<result property="profilePhoto" column="profile_photo" jdbcType="VARCHAR" />
		<result property="level" column="level" jdbcType="VARCHAR" />
		<result property="rights" column="rights" jdbcType="VARCHAR" />
		<result property="age" column="age" jdbcType="VARCHAR" />
		<result property="phone" column="phone" jdbcType="VARCHAR" />
		<result property="nickName" column="nickName" jdbcType="VARCHAR" />
		<result property="registrationTime" column="registration_time" jdbcType="DATE" />
	</resultMap>

	<select id="queryAll" resultMap="usersMap">
		select * from users
		
	</select>

	<!-- 用户登录  parameterType="String" -->
	<select id="queryObject"  resultMap="usersMap">

		select * from users
			<where>
			<if test="userName != null and userName != ''.trim()">
				userName=#{userName,jdbcType=VARCHAR}
			</if>

			<if test="passwd != null and passwd != ''.trim()">
				AND passwd=#{passwd,jdbcType=VARCHAR}
			</if>

		</where>

	</select>

	<!--新增所有列 keyProperty="userid" useGeneratedKeys="true" -->
	<insert id="save" parameterType="com.tao.blog.u.users.model.Users">
        insert into blog.users(loginip, passwd, username, nickname, email, profile_photo, level, rights, age, phone, registration_time)
        values (#{loginIp}, #{passwd}, #{userName}, #{nickName}, #{email}, #{profilePhoto}, #{level}, #{rights}, #{age}, #{phone}, #{registrationTime})
    </insert>

	<!--通过主键修改数据-->
	<update id="update">
		update blog.users
		<set>
			<if test="loginip != null and loginip != ''">
				loginip = #{loginip},
			</if>
			<if test="passwd != null and passwd != ''">
				passwd = #{passwd},
			</if>
			<if test="username != null and username != ''">
				username = #{username},
			</if>
			<if test="nickname != null and nickname != ''">
				nickname = #{nickname},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="profilePhoto != null and profilePhoto != ''">
				profile_photo = #{profilePhoto},
			</if>
			<if test="level != null and level != ''">
				level = #{level},
			</if>
			<if test="rights != null and rights != ''">
				rights = #{rights},
			</if>
			<if test="age != null and age != ''">
				age = #{age},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="registrationTime != null">
				registration_time = #{registrationTime},
			</if>
		</set>
		where userid = #{userid}
	</update>

	<!--通过主键删除-->
	<delete id="deleteById">
        delete from blog.users where userid = #{userid}
    </delete>

</mapper>